<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.michaeljmiller">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FoodActivity"
            android:label="@string/title_activity_food"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".food.RestaurantsActivity"
            android:label="@string/title_activity_restaurants"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".food.RestaurantActivity" />
        <activity
            android:name=".food.OrdersActivity"
            android:label="@string/title_activity_orders"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".food.OrderActivity"
            android:label="@string/title_activity_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <receiver android:name=".events.EventInitializer">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".events.DailyReminder" />
        <activity
            android:name=".DailyReminderActivity"
            android:label="@string/title_activity_daily_reminder"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true" />
    </application>

</manifest>